beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Django==1.10.6
future==0.16.0
idna==2.6
itchat==1.2.32
Markdown==2.6.11
pdfkit==0.6.1
Pygments==2.2.0
PyMySQL==0.8.0
pypng==0.0.18
PyQRCode==1.2.1
pytz==2017.3
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
wxpy==0.3.9.8
